Note: https://github.com/gautamkrishnar/blog-post-workflow
This here was used to create the blog-post-workflow

- The feed_list needs to be updated with your own website ""
- To run this: Go to your self-named repository > Actions > 
Latest blog post workflow (its the name you used in your yml file)
> run this manually (green button)
- By default it should take your latest 5 blog posts from your website


Note: https://github.com/anuraghazra/github-readme-stats
This here was used to show up the stats

- I used: <img align="left" alt="Svendolin's GitHub Stats" src="https://github-readme-stats.vercel.app/api?username=Svendolin&show_icons=true&hide_border=true" />
- Change the tag to your username ofc


Basic Language Layout:
<img align="center" alt="Svendolin's Most Used Languages" src="https://github-readme-stats.vercel.app/api/top-langs/?username=Svendolin&langs_count=8&show_icons=true&hide_border=true&theme=tokyonight" />