Note: https://github.com/gautamkrishnar/blog-post-workflow
This here was used to create the blog-post-workflow

- The feed_list needs to be updated with your own website ""
- To run this: Go to your self-named repository > Actions > 
Latest blog post workflow (its the name you used in your yml file)
> run this manually (green button)
- By default it should take your latest 5 blog posts from your website


Note: https://github.com/anuraghazra/github-readme-stats
This here was used to show up the stats

- I used: <img align="left" alt="Svendolin's GitHub Stats" src="https://github-readme-stats.vercel.app/api?username=Svendolin&show_icons=true&hide_border=true" />
- Change the tag to your username ofc


Basic Language Layout:
<img align="center" alt="Svendolin's Most Used Languages" src="https://github-readme-stats.vercel.app/api/top-langs/?username=Svendolin&langs_count=8&show_icons=true&hide_border=true&theme=tokyonight" />

<!-- Basic Icon Layout:
<img align="left" alt="Visual Studio Code" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png" /> -->

CONNECT WITH ME ICONS:
Note: https://github.com/simple-icons/simple-icons
This here was used to use the simple icons

LANGUAGE AND TOOLS ICONS:
Github > Searchbar > Javascript > Icon , rightclick > CopyURL

To deploy my own Vercel Instance for GitHub Stats:
https://github.com/anuraghazra/github-readme-stats > Fork it > Settings of my Profile > Developer Settings > Personal Access Tokens > Generate New Token > Name it (GitHub Readme Stats) > Expiration to 90 > Generate >
Copy the Code... UNDONE!


Badges from:
https://shields.io/